{{>navbar}}
<main class="dib w-100">
  <section class="tc w-80 center">
    <form class="bg-tb dib pa4 pt1 mt4 mb4" action="/addevent" method="post">
      <h1>Create Event</h1>
      <label class='f4' for="title">Title</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="title" value="{{input.title}}" required>
      <label class='f4' for="shortdesc">Short description</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="shortdesc" value="{{input.shortdesc}}">
      <label class='f4' for="longdesc">Long description</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="longdesc" value="{{input.longdesc}}">
      <label class='f4' for="venue">Venue</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="venue" value="{{input.venue}}">
      <label class='f4' for="location">Location</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="location" value="{{input.location}}">
      <label class='f4' for="startdate">Start date/time</label>
      <img src="images2/cal.gif" onclick="javascript:NewCssCal ('startdatetime','ddMMyyyy','arrow',true,'12','','future')" style="cursor:pointer" />
      <input class='w-100 db f5 pa2 ma2' type="text" name="startdatetime" value="{{input.startdatetime}}" id="startdatetime" readonly="readonly">
      <label class='f4' for="enddatetime">End date/time</label>
      <img src="images2/cal.gif" onclick="javascript:NewCssCal ('enddatetime','ddMMyyyy','arrow',true,'12','','future')" style="cursor:pointer" />
      <input class='w-100 db f5 pa2 ma2' type="text" name="enddatetime" value="{{input.enddatetime}}" id="enddatetime" readonly="readonly">
      <label class='f4' for="minage">Minimum age</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="minage" value="{{input.minage}}">
      <label class='f4' for="ticketsavailable">Number of tickets/ tickets available</label>
      <input class='w-100 db f5 pa2 ma2' type="number" step="1" name="ticketsavailable" value="{{input.ticketsavailable}}" min="0" type="number">
      <label class='f4' for="ticketname">Ticket name</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="ticketname" value="{{input.ticketname}}">
      <label class='f4' for="additionalinfo">Additional info</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="additionalinfo" value="{{input.additionalinfo}}">
      <label class='f4' for="maxallocaiton">Maximum allocation per charity</label>
      <input class='w-100 db f5 pa2 ma2' type="text" name="maxallocation" value="{{input.maxallocation}}">
      {{#if err}}
        <p>{{err}}</p>
      {{/if}}
      <input class="center db bg-black white f5 br1 pt1 pb1 pr3 pl3 mt2 bn" type="reset">
      <input class="center db bg-black white f5 br1 pt1 pb1 pr3 pl3 mt2 bn" type="submit" value="Create Event">
    </form>
  </section>
  <script src="datetimepicker_css.js"></script>
</main>
